:root {
 --bg: #141414;
 --zwart:#000000;
 --wit: #FFFFFF;
 --grijs: #9999;
 --gold: #cc9900;
 --groen: #01F169;
}

@font-face {
 font-family: netfucks;
 src: url(debasneue.otf);
}

@font-face {font-family: drama; src:url('f/drama.woff2');}
@font-face {font-family: highschool; src:url('f/highschool.woff2');}
@font-face {font-family: historisch; src:url('f/historisch.woff2');}
@font-face {font-family: sf; src:url('f/sf.woff2');}
@font-face {font-family: komedie; src:url('f/komedie.woff2');}
@font-face {font-family: politie; src:url('f/politie.woff2');}
@font-face {font-family: spannend; src:url('f/spannend.woff2');}

body,.w3-modal-content {
 background-color: var(--zwart);
 color:var(--wit);
}

.m {
 width:1400px;
 margin:0 auto;
}

h3 {
 margin-top:0px;
 color:var(--gold);
 font-size:1.8em;
 margin-bottom:0;
 position:absolute;
 font-family:netfucks;
 padding-left:4px;
 padding-top:1px;
 text-shadow: 2px 0 0px #800040, 3px 2px 0px rgba(77,0,38,0.5), 3px 0 3px #FF002B, 5px 0 3px #800015, 6px 2px 3px rgba(77,0,13,0.5), 6px 0 9px #FF5500, 8px 0 9px #802A00, 9px 2px 9px rgba(77,25,0,0.5), 9px 0 18px #FFD500, 11px 0 18px #806A00, 12px 2px 18px rgba(77,66,0,0.5), 15px 2px 30px rgba(64,77,0,0.5), 17px 2px 45px rgba(38,77,0,0.5), 2px 2px 2px rgba(206,89,55,0);
 z-index:10!important;
 letter-spacing:1.5px;
}

.hpimg {
 position:relative;
 width:calc(100% - 16px);
 height:30vh;
 max-height:40vh;
 background-size: cover;
 background-repeat:no-repeat;
 background-position: 20vw center;
}

.lijst {
 height: calc(70vh - 4px);
 overflow:auto;
 scrollbar-color: #9E0000 black;
}

:root {
 --Colwidth:320px;
}
.w3-quarter {
 width:calc(24.99999% - 16px);
 margin-right:16px;
 padding:0;
}
.item {
 width:var(--Colwidth);
 height:184px;
 max-height:184px;
 margin-bottom:16px;
 position:relative;
 font-size: 30px;
 display: inline-block;
 cursor:pointer;

 border:solid 2px transparent;border-radius:4px;
}

.last {
  Danimation: shake 2s cubic-bezier(.36,.07,.19,.97) both;
  Dtransform: translate3d(0, 0, 0);
  DDbackface-visibility: hidden;
  Dperspective: 1000px;
  border:solid 2px gold;
}
.isfilm {
 position: absolute;
 top:-5px!important;
 left:260px!important;

 border-radius:none!important;
 object-fit: fill!important;
 width:60px!important;
 height:60px!important;
 z-index: 1!important;
 filter:brightness(100%)!important;
}
.hidden {
 display:none;
}

.item img {
 border-radius:4px;
 position: absolute;
 left: 0px;
 top: 0px;
 object-fit: cover;
 Dwidth:320px;
 width:calc(var(--Colwidth) - 4px);
 height:180px;
 z-index: -1;
}

.kolpadding {

}
.item p,h4 {
 text-shadow: .1em .1em 2px #222;
 margin:0;
 padding:0;
 padding-left:8px;
 font-weight:bold;
}
p[data-soort] {
 position:absolute;
 bottom:4px;
 font-size:0.4em;
}
p[data-titel] {
 position:absolute;
 font-size:0.6em;
 bottom:20px;
}

.klein {
 font-size:0.6em;
}


.form label {
 min-width:120px;
 display:inline-block;
 margin-bottom:16px;
}

.txt {
 outline:none;
 background-color: var(--bg);
 dcolor: var(--wit);
 color: var(--gold);
 border: solid 1px var(--groen);
}


h2 {
 margin-top:0;
 padding-top:16px;
 letter-spacing:2px;
 font-size:40px;
 font-family:netfucks;
}
.hpimg span {margin-right:4px}
.tekst {
 width:30vw;
 margin-top:8px;
}
.icon1 {
 position:absolute;
 top:calc(40vh - 10px);
 right:10px;
}

#dTekst {
 max-height:calc(20vh - 20px);
 overflow:scroll;
}

.rood {color:red!important;}
.groen {color:var(--groen);}
.geel {color:var(--gold);}

.iconbar {
 position:absolute;
 top:calc(30vh - 50px);
 right:8px;
 width:200px;
}
.iconbar button img {
 height:32px;
}
.iconbar button {
 float:right;
 margin-right:16px;
}
.iconbar .knopp {
 background:silver;
 width:42px;
}

div.nfw_score, .scoreonder{
 font-size: 18px;
 border-radius: 50%;

 line-height: 36px;

 width: 40px;
 height: 40px;
 text-align: center;
 vertical-align: center;

 background: rgba(100,100,100,0.7);
 border: 2px solid #666;
 color: #FF9;
 font-weight: bold;
 text-align: center;
 z-index:1;
 pointer-events: none;

 position: absolute;
 top:130px;
 left:270px;
}

.box {color:var(--gebrokenwit);border: solid 2px var(--grijs);border-radius:4px;
 padding:0 4px 0 4px;
 font-family:netfucks;
 letter-spacing:1.5px;
}
.box img  {
 height:calc(6px + 1em);
}
.icon {
 height:calc(2px + 1em);
}

.box.nobor {
 border:none!important;
}
.box.nobor img {
 border: solid 2px var(--grijs);border-radius:4px;
}
.scoreonder {
 position:static;
 clear:all;
 margin-top:8px;
}
#dIx{display:none;}
#dlgEdit {
 padding-top:9vh;
 z-index:100;
}
.w3-modal {
 background-color: rgba(0,0,0,0.8);
}
.w3-modal-content {
 width:80vw;
 height:calc(82vh - 32px);
 border:solid 2px var(--grijs);
}
.previewpic {
 width:640px;
 height:360px;object-fit: cover;
}
.dialoogform input {
}
.dialoogform label {
 margin-bottom:4px;
 margin-top:8px;
 display:block;
 }
.dialoogform .txt {
 margin:1px;
 width:calc(100% - 2px);
 display:block;
 margin-bottom:16px;
 line-height:normal;
 padding:2px;
}
.dialoogform textarea {
 height:220px;
}
.dialoogform .MARGL16 {
 margin-right:16px;
 display:inline;
}
.formborder {
 border: solid 1px var(--groen);
 padding:2px;
 padding-right:8px;
 padding-left:8px;
 margin-right:8px;
}
.serietxt {
 background-color: var(--bg);
 color: var(--gold);
 outline: none;
 border:none;
 height:17px;
 width:60px;
 text-align:center;
}
.leftdial {
 margin-top:16px;
}
.knop {
 margin-top:16px;
 min-width:160px;
}

div.nfw_circle_red{
 background: rgba(100,0,0,0.7);
 border-color: #FF0000;
}

div.nfw_circle_green{
 background: rgba(0,100,0,0.7);
 border-color: #00FF00;
}

div.nfw_circle_yellow{
 background: rgba(100,100,0,0.7);
 border-color: #FFFF00;
}

div.nfw_circle_orange{
 background: rgba(100,70,0,0.7);
 border-color: #FF9900;
}
.w3-padding-left {
 padding-left:16px;
}


.nopadL {
 padding-left:0;
}
.knoponder1 {
 position:fixed;
 left:calc(50% - 100px - 80px);
 bottom:calc(18vh);
}
.knoponder2 {
 position:fixed;
 left:calc(50% + 100px - 80px);
 bottom:calc(18vh);
}

